 body {
      background-image: url("background.jpg"), url("background1.jpg");
      background-size: 800px 600px;
      background-size: contain;
      background-repeat: no-repeat, no-repeat; 
      background-position: center;
      text-align:center;
}  
#banner {
    display: block;
    margin: auto; 
    border: 5px solid #000000; 
}
#buttons {
    display: block;
    margin: auto; 
}
h1 {
    position: relative;
    margin: auto;
}
